
.conteudo {
    display: flex;
    flex-direction: column;
}


/* div img {
    max-width: 100%;
    display: flex;
    margin: 0 auto ;
    justify-content: space-around;
    align-items: center;
    width: 330px;
    height: 180px;
} */

.games video{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    top: -140px;


}

div{
    width: 100%;
    height: 80vh;
    /* border: 1px solid #fff; */
    overflow: hidden;
}
/* div:hover{
    border: 1px solid #ffffff;
    color: white;
} */
/* div h2:hover{
    color: #fff;
    transition: 0.6s;
} */

.games h2{
    color: #ffffff;
    font-family:  "Gotham HTF", sans-serif;
    font-size: 18px;
    position: relative;
    top: 8%;
    left: -36%;
    font-size: 90px;
}
.games p{
    position: relative;
    color: rgb(255, 255, 255);
    font-family:  "Gotham HTF", sans-serif;
    text-align: left;
    font-size: 20px;
    top: 8%;
    left: 2%;
    margin-right: 52%;
}
.mobile{
    background:linear-gradient(rgba(0, 0, 0, 0.500),rgba(0, 0, 0, 0.500)), url(../img/imgmobile.jpg);
    background-size: cover;
    height: 100vh;
}

.mobile h2{
    color: #ffffff;
    font-family:  "Gotham HTF", sans-serif;
    font-size: 140px;
    filter: brightness();

}

.mobile p{
    position: relative;
    color: rgb(255, 255, 255);
    font-family:  "Gotham HTF", sans-serif;
    text-align: center;
    font-size: 24px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;

}

.tech{
    background:linear-gradient(rgba(0, 0, 0, 0.500),rgba(0, 0, 0, 0.500)), url(../img/fundocomp.jpg);
    background-size: cover;
    height: 100vh;
}

.tech h2{
    color: #ffffff;
    font-family:  "Gotham HTF", sans-serif;
    font-size: 140px;
    position: relative;
    left: 26%;

}

.tech p{
    position: relative;
    color: rgb(255, 255, 255);
    font-family:  "Gotham HTF", sans-serif;
    text-align: right;
    font-size: 20px;
    top: 6%;
    left: 50%;
    margin-right: 52%;
}